<extend name="Sort:control" />
<block name="asort">
	<div id="J_ManageBody" class="xd-manage-body">
        <div class="content xd-fm1200 clearfix">
            <div id="J_Page" class="xd-manage-content fl">
            	<div class="xd-message-detail xd-page" data-reactid=".1" style="margin:0px;">
            		<div class="xd-header" data-reactid=".1.0">
            			<h1 class="xd-title" data-reactid=".1.0.0">{$not['storetitle']}</h1>
            			<p data-reactid=".1.0.1">{:date('Y-m-d H:i:s',$not['storetime'])}</p>
            		</div>
            		<div class="message-content" data-reactid=".1.1">
            			<div style="margin: 0px; padding: 0px; word-wrap: break-word; color: #444444; font-family: 'Microsoft Yahei', Simsun; font-size: 14px; line-height: 21px;">
            				<font style="margin: 0px; padding: 0px; word-wrap: break-word;" face="微软雅黑" size="3">各位商家：</font>
            			</div>
						<font style="margin: 0px; padding: 0px; word-wrap: break-word; color: #444444;" face="微软雅黑" size="3">
							<br style="margin: 0px; padding: 0px; word-wrap: break-word;">
						</font>
						<div style="margin: 0px; padding: 0px; word-wrap: break-word; color: #444444; font-family: 'Microsoft Yahei', Simsun; font-size: 14px; line-height: 21px;">
							<font style="margin: 0px; padding: 0px; word-wrap: break-word;" face="微软雅黑" size="3">&nbsp; &nbsp; &nbsp; &nbsp; {$not['storecontent']}</font>
						</div>
						<font style="margin: 0px; padding: 0px; word-wrap: break-word; color: #444444;" face="微软雅黑" size="3">
							<br style="margin: 0px; padding: 0px; word-wrap: break-word;">
						</font>
						<div style="margin: 0px; padding: 0px; word-wrap: break-word; color: #444444; font-family: 'Microsoft Yahei', Simsun; font-size: 14px; line-height: 21px; text-align: right;">
							<font style="margin: 0px; padding: 0px; word-wrap: break-word;" face="微软雅黑" size="3">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;{$not['storeauthor']}</font>
						</div>
						<div style="margin: 0px; padding: 0px; word-wrap: break-word; color: #444444; font-family: 'Microsoft Yahei', Simsun; font-size: 14px; line-height: 21px; text-align: right;">
							<font style="margin: 0px; padding: 0px; word-wrap: break-word;" face="微软雅黑" size="3">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;{:date('Y年m月d日',$not['storetime'])}</font>
						</div>
						<br>
					</div>
				</div>
			</div>
        </div>
    </div>
</block>
<block name="arr">

</block>