<extend name="Index:index"/>
<block name="shouye">
	<li class="home"><a href="{:U('Home/Index/index')}">首页</a></li>
</block>
<block name="main">
	<div style="height:15px;"></div>
		<div class="container">
		    <div class="row">
		        <div class="col-xs-12 clear_padding">
		            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		                <div class="carousel-inner" style="height:100px;">
		                    <div class="item active">
		                        <img src="__PUBLIC__/Home/images/a.jpg"  alt="..."> 
		                    </div>
		                    <div class="item">
		                        <img src="__PUBLIC__/Home/images/f.jpg"  alt="...">
		                    </div>
		                    <div class="item">
		                        <img src="__PUBLIC__/Home/images/h.jpg"  alt="...">
		                    </div>
		                    <div class="item">
		                        <img src="__PUBLIC__/Home/images/i.jpg"  alt="...">
		                    </div>
		                    <div class="item">
		                        <img src="__PUBLIC__/Home/images/hj.jpg"  alt="...">
		                    </div>
		                </div>
		                <!-- Controls -->
		            </div>
		        </div>
		    </div>
		</div>

		<if condition="$_GET['id'] neq 6 && $_GET['id'] neq 7 && $_GET['id'] neq 8 && $_GET['id'] neq 9 && $_GET['id'] neq 10 && $_GET['id'] neq 11 && $_GET['id'] neq 12">
		<div class="container" style="width:1260px;margin:0 40px;">
		    <div class="row">
		    <foreach name="goods" item="vo">
		    	<if condition="($Think.get.id eq $vo['asortid']) OR ($Think.get.state eq $vo['state'])">
			    <div class="col-xs-5ths">
			    	<div class="arrange">
		                <div class="new_poster">
		                    <div class="np_pic hover_pic">
		                        <a class="pic_load" href="{$vo.url}" target="_blank" title="{$vo.goodname}"><img class="goods_pic" width="226" height="317" src="__ROOT__{$vo.goodpic}" alt="{$vo.goodname}"></a> 
		                        <div style="height:30px">
		                        	<div class="showy_info"><span>￥</span>{$vo.nowprice}</div>
									<div class="sale_num" style="background-image: url(__PUBLIC__/Home/image/ss.png);background-position: 3px -317px;background-repeat: no-repeat;">　 &nbsp;{$vo.collect}</div>
								</div>
								<div class="title">   
									<p>
									<a href="{$vo.url}" target="_blank" title="{$vo.goodname}" alt="{$vo.goodname}">{$vo.goodname}</a>
									</p>
								</div>
		                    </div>
		                </div>
		            </div>
			    </div>
			    </else/>
			    </if>
			    </foreach>
            </div>
	    </div>
		<else/>
		</if>
	    <if condition="empty($_GET['state']) && $_GET['id'] eq 1">
	    <div class="container" style="width:1260px;margin:0 40px;">
		    <div class="row">
		    <foreach name="goods1" item="vo">
			    <div class="col-xs-5ths">
			    	<div class="arrange">
		                <div class="new_poster">
		                    <div class="np_pic hover_pic">
		                        <a class="pic_load" href="{$vo.url}" target="_blank" title="{$vo.goodname}"><img class="goods_pic" width="226" height="317" src="__ROOT__{$vo.goodpic}" alt="{$vo.goodname}"></a> 
		                        <div style="height:30px">
		                        	<div class="showy_info"><span>￥</span>{$vo.nowprice}</div>
									<div class="sale_num" style="background-image: url(__PUBLIC__/Home/image/ss.png);background-position: 3px -317px;background-repeat: no-repeat;">　 &nbsp;{$vo.collect}</div>
								</div>
								<div class="title">   
									<p>
									<a href="{$vo.url}" target="_blank" title="{$vo.goodname}" alt="{$vo.goodname}">{$vo.goodname}</a>
									</p>
								</div>
		                    </div>
		                </div>
		            </div>
			    </div>
			    </foreach>
            </div>
	    </div>
	    <else/>
	    </if>
	    <if condition="empty($_GET['state']) && $_GET['id'] eq 2">
	    <div class="container" style="width:1260px;margin:0 40px;">
		    <div class="row">
		    <foreach name="goods2" item="vo">
			    <div class="col-xs-5ths">
			    	<div class="arrange">
		                <div class="new_poster">
		                    <div class="np_pic hover_pic">
		                        <a class="pic_load" href="{$vo.url}" target="_blank" title="{$vo.goodname}"><img class="goods_pic" width="226" height="317" src="__ROOT__{$vo.goodpic}" alt="{$vo.goodname}"></a> 
		                        <div style="height:30px">
		                        	<div class="showy_info"><span>￥</span>{$vo.nowprice}</div>
									<div class="sale_num" style="background-image: url(__PUBLIC__/Home/image/ss.png);background-position: 3px -317px;background-repeat: no-repeat;">　 &nbsp;{$vo.collect}</div>
								</div>
								<div class="title">   
									<p>
									<a href="{$vo.url}" target="_blank" title="{$vo.goodname}" alt="{$vo.goodname}">{$vo.goodname}</a>
									</p>
								</div>
		                    </div>
		                </div>
		            </div>
			    </div>
			    </foreach>
            </div>
	    </div>
	    <else/>
	    </if>
	    <if condition="empty($_GET['state']) && $_GET['id'] eq 3">
	    <div class="container" style="width:1260px;margin:0 40px;">
		    <div class="row">
		    <foreach name="goods3" item="vo">
			    <div class="col-xs-5ths">
			    	<div class="arrange">
		                <div class="new_poster">
		                    <div class="np_pic hover_pic">
		                        <a class="pic_load" href="{$vo.url}" target="_blank" title="{$vo.goodname}"><img class="goods_pic" width="226" height="317" src="__ROOT__{$vo.goodpic}" alt="{$vo.goodname}"></a> 
		                        <div style="height:30px">
		                        	<div class="showy_info"><span>￥</span>{$vo.nowprice}</div>
									<div class="sale_num" style="background-image: url(__PUBLIC__/Home/image/ss.png);background-position: 3px -317px;background-repeat: no-repeat;">　 &nbsp;{$vo.collect}</div>
								</div>
								<div class="title">   
									<p>
									<a href="{$vo.url}" target="_blank" title="{$vo.goodname}" alt="{$vo.goodname}">{$vo.goodname}</a>
									</p>
								</div>
		                    </div>
		                </div>
		            </div>
			    </div>
			    </foreach>
            </div>
	    </div>
	    <else/>
	    </if>
	     <if condition="empty($_GET['state']) && $_GET['id'] eq 4">
	    <div class="container" style="width:1260px;margin:0 40px;">
		    <div class="row">
		    <foreach name="goods4" item="vo">
			    <div class="col-xs-5ths">
			    	<div class="arrange">
		                <div class="new_poster">
		                    <div class="np_pic hover_pic">
		                        <a class="pic_load" href="{$vo.url}" target="_blank" title="{$vo.goodname}"><img class="goods_pic" width="226" height="317" src="__ROOT__{$vo.goodpic}" alt="{$vo.goodname}"></a> 
		                        <div style="height:30px">
		                        	<div class="showy_info"><span>￥</span>{$vo.nowprice}</div>
									<div class="sale_num" style="background-image: url(__PUBLIC__/Home/image/ss.png);background-position: 3px -317px;background-repeat: no-repeat;">　 &nbsp;{$vo.collect}</div>
								</div>
								<div class="title">   
									<p>
									<a href="{$vo.url}" target="_blank" title="{$vo.goodname}" alt="{$vo.goodname}">{$vo.goodname}</a>
									</p>
								</div>
		                    </div>
		                </div>
		            </div>
			    </div>
			    </foreach>
            </div>
	    </div>
	    <else/>
	    </if>
	     <if condition="empty($_GET['state']) && $_GET['id'] eq 5">
	    <div class="container" style="width:1260px;margin:0 40px;">
		    <div class="row">
		    <foreach name="goods5" item="vo">
			    <div class="col-xs-5ths">
			    	<div class="arrange">
		                <div class="new_poster">
		                    <div class="np_pic hover_pic">
		                        <a class="pic_load" href="{$vo.url}" target="_blank" title="{$vo.goodname}"><img class="goods_pic" width="226" height="317" src="__ROOT__{$vo.goodpic}" alt="{$vo.goodname}"></a> 
		                        <div style="height:30px">
		                        	<div class="showy_info"><span>￥</span>{$vo.nowprice}</div>
									<div class="sale_num" style="background-image: url(__PUBLIC__/Home/image/ss.png);background-position: 3px -317px;background-repeat: no-repeat;">　 &nbsp;{$vo.collect}</div>
								</div>
								<div class="title">   
									<p>
									<a href="{$vo.url}" target="_blank" title="{$vo.goodname}" alt="{$vo.goodname}">{$vo.goodname}</a>
									</p>
								</div>
		                    </div>
		                </div>
		            </div>
			    </div>
			    </foreach>
            </div>
	    </div>
	    <else/>
	    </if>
	</div>
</block>
