<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>浏览页面</title>
         <link rel="stylesheet" href="./css/css1.css" type="text/css" media="screen"/>
    </head>
    <body>
        <!-- 头部-->
        <div class="uinfo_bar">
            <div class="header_top">
                <ul class="menu_leo">
                    <li><a class="first" href=""><em style='background:url("./images/weixin.png") no-repeat; padding:1px 8px;'>&nbsp;</em>微信登录</a></li>
                    <li><a href=""><em class="i_QQ">&nbsp;</em> QQ登录</a></li>
                    <li><a href="">登录</a></li>			
                    <li><a href="">注册</a></li>
                    <li><a href="/cart" target="_blank" class="mycart"><em class="i_cart">&nbsp;</em>我的购物车<span class="num_bgc num_bgc_none">0</span></a></li>
                    <li><a href="/order" target="_blank"><em class="i_order">&nbsp;</em>我的订单</a></li>
                    <li><a href="/client/?frm=daeh" target="_blank"><em class="i_mob">&nbsp;</em>下载App</a></li>
                    <li><a class="last" href="/helpcenter/?frm=top_to_help" target="_blank">帮助中心</a></li>		
                </ul>
            </div>
            <div class="clear_f"></div>
        </div>
        <div class="header_bg" style="margin_bottom:0px;">
            <div class="clear_f"></div>
            <div class="header_top logo_wrap">
                <a class="logo_new" href="#"></a>
                <a class="promologo" href="#"><img src="./images/huanle.gif"></a>
                <div class="ser_n">
                    <form class="searchBox" action="" method="get">
                        <div class="search-table">
                            <span class="cur" data-type="1">宝贝</span>
                        </div>
                        <span class="ipt1">
                            <em class="i_search"></em>
                            <input class="searchkey" name="searchkey" type="text" autocomplete="off" value placeholder="搜流行商品" data-placeholder="搜流行商品">
                        </span>
                        <input class="search_type" type="hidden" value="1" name="searchType">
                        <input class="filter" type="hidden" value="goods" name="filter">
                        <input class="search_frm" type="hidden" value="searchsuggestion" name="frm">
                        <input class="suggest_frm" type="hidden" value name="suggest_frm">
                        <span class="ipt2">
                            <input type="submit" class="fm_hd_btm_shbx_bttn" value="搜 索">
                        </span>
                    </form> 
                </div>
            </div>
        </div>
        <!-- 导航部分-->
         <div id="navber" style="position:relative; top:0px; height:auto;">
            <div class="wheader">
                <div class="header_b">
                    <ul class="nav_new">
                        <li class="home"><a class="r_d" href="./">首页</a></li>
                        <li class="dress"><a class href="list">服装</a></li>
                        <li><a class href="list.html">鞋子</a></li>
                        <li><a class href="list.html">数码</a></li>
                        <li><a class href="list.html">饰品</a></li>
                        <li><a class href="zazhi.html">杂志</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content_fluid" style="width:1200px;">
            <div class="ads_banner adm adm_top">
                <div class="boxImg">
                    <ul class="_img banner">
                        <li>
                        <div class="pic" style="background:url(./images/a.jpg) center top no-repeat;">
                            <a class="adm_mon" href="" target="_blank"></a>
                        </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cata_title"><h1>大家喜欢的宝贝</h1></div>
            <!--整体部分-->
            <div class="goods_wall" style="height:1450px;width:100%;position:relative;">
            <!--左部分-->
                <div class="corner_notic" style="position:absolute;top:0px;left:0px;">
                    <div class="sidebar_rec">
                        <div class="list">
                            <div class="item">
                                <h3><a href="" target="_blank"><img src="./images/zuire.png">最热</a></h3>
                                <div class="cont">
                                    <a class="red_f" href="">潮流同款</a>
                                    <a href="" target="_blank">秋季新品</a>
                                    <a href="" target="_blank">开衫</a>
                                    <a class="red_f" href="" target="_blank">男装</a>
                                    <a class="red_f" href="" target="_blank">连衣裙</a>
                                    <a href="" target="_blank">超人气套装</a>
                                    <a class="red_f" href="" target="_blank">童装</a>
                                    <a href="" target="_blank">好吃哒</a>
                                    <a href="" target="_blank">家具</a>
                                    <a href="" target="_blank">双肩包</a>
                                    <a href="" target="_blank">运动鞋</a>
                                    <a href="" target="_blank">创意小家电</a>
                                    <a href="" target="_blank">秀恩爱必备</a>
                                    <a href="" target="_blank">甜美小单鞋</a>
                                    <a href="" target="_blank">萌妹的衣橱</a>
                                    <a href="" target="_blank">韩系style</a>
                                    <a href="" target="_blank">魅惑恨天高</a>
                                </div>
                            </div>
                        </div>
                        <div class="list">
                            <div class="item">
                                <h3><a href="" target="_blank"><img src="./images/yifu.png">衣服</a></h3>
                                <div class="cont">
                                    <a class="red_f" href="">外套</a>
                                    <a href="" target="_blank">半身裙</a>
                                    <a class="red_f" href="" target="_blank">九分裤</a>
                                    <a class="red_f" href="" target="_blank">衬衫</a>
                                    <a class="red_f" href="" target="_blank">套装</a>
                                    <a class="red_f" href="" target="_blank">开衫</a>
                                    <a class="red_f" href="" target="_blank">卫衣</a>
                                    <a class="red_f" href="" target="_blank">棒球外套</a>     
                                    <a class="red_f" href="" target="_blank">束腰外套</a>     
                                    <a class="red_f" href="" target="_blank">摆动流苏</a>     
                                    <a class="red_f" href="" target="_blank">长款开衫</a>     
                                </div>
                            </div>
                        </div>
                        <div class="list">
                            <div class="item">
                                <h3><a href="" target="_blank"><img src="./images/xiezi.png">鞋子</a></h3>
                                <div class="cont">
                                    <a class="red_f" href="">运动鞋</a>
                                    <a href="" target="_blank">单鞋</a>
                                    <a class="red_f" href="" target="_blank">早秋美鞋</a>
                                    <a href="" target="_blank">高跟鞋</a>
                                    <a href="" target="_blank">帆布鞋</a>
                                    <a href="" target="_blank">厚布鞋</a>
                                    <a class"red_f" href="" target="_blank">小白鞋</a>
                                    <a href="" target="_blank">一脚蹬</a>     
                                    <a href="" target="_blank">乐福鞋</a>     
                                    <a href="" target="_blank">优质热销鞋履</a>     
                                </div>
                            </div>
                        </div>
                        <div class="list">
                            <div class="item">
                                <h3><a href="" target="_blank"><img src="./images/baobao.png">包包</a></h3>
                                <div class="cont">
                                    <a class="red_f" href="">2015秋季新款包包</a>
                                    <a class="red_f" href="">双肩包</a>
                                    <a href="" target="_blank">单肩包</a>
                                    <a class="red_f" href="" target="_blank">斜挎包</a>
                                    <a href="" target="_blank">手提包</a>
                                    <a class="red_f" href="" target="_blank">小包</a>
                                    <a href="" target="_blank">大包</a>
                                    <a class="red_f" href="" target="_blank">行李箱</a>     
                                    <a href="" target="_blank">手提包</a>     
                                    <a class="red_f" href="" target="_blank">学院双肩包</a>     
                                    <a class="red_f" href="" target="_blank">链条包</a>     
                                </div>
                            </div>
                        </div>
                        <div class="list">
                            <div class="item">
                                <h3><a href="" target="_blank"><img src="./images/peishi.png">配饰</a></h3>
                                <div class="cont">
                                    <a href="" target="_blank">手表</a>
                                    <a href="" target="_blank">项链</a>
                                    <a href="" target="_blank">手链</a>
                                    <a href="" target="_blank">帽子</a>
                                    <a class="red_f" href="" target="_blank">墨镜</a>     
                                    <a class="red_f"  href="" target="_blank">发簪</a>     
                                    <a href="" target="_blank">腰带</a>     
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--右部分-->
                    <div class="conner_nav" style="width:960px;position:absolute;top:0px;left:235px;">
                        <ul class="cata_types">
                            <li>
                                <a class="active first" href="">流行</a>
                            </li>
                            <li>
                                <a href="">热销</a>
                            </li>
                            <li>
                                <a href="">上新</a>
                            </li>
                            <li class="last">
                                <a target="_blank" href="">秋季新品</a>
                            </li>
                        </ul>
                    </div>
                    <div class="corner_stamp" style="position:absolute;top:70px;left:960px;">
                        <div class="poster_cpt shop_follow">
                            <div class="poster_p4p"></div>
                        </div>
                    </div>
                    <div class="poster_grid retsop poster_wall" style="position:absolute;top:70px;left:235px;">
                        <div class="new_poster">
                            <div class="np_pic hover_pic">
                                <div class="price">￥98.00</div>
                                <a class="pic_load" href="" target="_blank" title="秋季新款韩版复古长款毛衣"><img class="goods_pic" width="226" height="316" src="./images/yi1.jpg" alt="秋季新款韩版复古长款毛衣"></a>
                            </div>
                        </div>
                    </div>
                    <div class="poster_grid retsop poster_wall" style="position:absolute;top:70px;left:475px;">
                        <div class="new_poster">
                            <div class="np_pic hover_pic">
                                <div class="price">￥98.00</div>
                                <a class="pic_load" href="" target="_blank" title="秋季新款韩版复古长款毛衣"><img class="goods_pic" width="226" height="316" src="./images/yi2.jpg" alt="秋季新款韩版复古长款毛衣"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="poster_grid retsop poster_wall" style="position:absolute;top:70px;left:720px;">
                    <div class="new_poster">
                        <div class="np_pic hover_pic">
                            <div class="price">￥98.00</div>
                                <a class="pic_load" href="" target="_blank" title="秋季新款韩版复古长款毛衣"><img class="goods_pic" width="226" height="316" src="./images/yi3.jpg" alt="秋季新款韩版复古长款毛衣"></a>
                        </div>
                    </div>
                </div>
                <div class="poster_grid retsop poster_wall" style="position:absolute;top:70px;left:960px;">
                    <div class="new_poster">
                        <div class="np_pic hover_pic">
                            <div class="price">￥98.00</div>
                            <a class="pic_load" href="" target="_blank" title="秋季新款韩版复古长款毛衣"><img class="goods_pic" width="226" height="316" src="./images/yi4.jpg" alt="秋季新款韩版复古长款毛衣"></a> 
                        </div>
                    </div>
                </div>
                <div class="poster_grid retsop poster_wall" style="position:absolute;top:402px;left:240px;">
                     <div class="new_poster">
                         <div class="np_pic hover_pic">
                            <div class="price">￥98.00</div>
                            <a class="pic_load" href="" target="_blank" title="秋季新款韩版复古长款毛衣"><img class="goods_pic" width="226" height="316" src="./images/yi5.jpg" alt="秋季新款韩版复古长款毛衣"></a> 
                        </div>
                    </div>
                </div>
                <div class="poster_grid retsop poster_wall" style="position:absolute;top:402px;left:480px;">
                    <div class="new_poster">
                        <div class="np_pic hover_pic">
                            <div class="price">￥98.00</div>
                            <a class="pic_load" href="" target="_blank" title="秋季新款韩版复古长款毛衣"><img class="goods_pic" width="226" height="316" src="./images/yi6.jpg" alt="秋季新款韩版复古长款毛衣"></a> 
                        </div>
                    </div>
                </div>
                <div class="poster_grid retsop poster_wall" style="position:absolute;top:402px;left:720px;">
                    <div class="new_poster">
                        <div class="np_pic hover_pic">
                            <div class="price">￥98.00</div>
                            <a class="pic_load" href="" target="_blank" title="秋季新款韩版复古长款毛衣"><img class="goods_pic" width="226" height="317" src="./images/yi7.jpg" alt="秋季新款韩版复古长款毛衣"></a> 
                        </div>
                    </div>
                </div>
                <div class="poster_grid retsop poster_wall" style="position:absolute;top:402px;left:960px;">
                    <div class="new_poster">
                        <div class="np_pic hover_pic">
                            <div class="price">￥98.00</div>
                            <a class="pic_load" href="" target="_blank" title="秋季新款韩版复古长款毛衣"><img class="goods_pic" width="226" height="317" src="./images/yi8.jpg" alt="秋季新款韩版复古长款毛衣"></a> 
                        </div>
                    </div>
                </div>
                <div class="poster_grid retsop poster_wall" style="position:absolute;top:735px;left:0px;">
                    <div class="new_poster">
                        <div class="np_pic hover_pic">
                            <div class="price">￥98.00</div>
                            <a class="pic_load" href="" target="_blank" title="秋季新款韩版复古长款毛衣"><img class="goods_pic" width="226" height="317" src="./images/yi9.jpg" alt="秋季新款韩版复古长款毛衣"></a> 
                        </div>
                    </div>
                </div>
                <div class="poster_grid retsop poster_wall" style="position:absolute;top:735px;left:240px;">
                    <div class="new_poster">
                        <div class="np_pic hover_pic">
                            <div class="price">￥98.00</div>
                            <a class="pic_load" href="" target="_blank" title="秋季新款韩版复古长款毛衣"><img class="goods_pic" width="226" height="317" src="./images/yi10.jpg" alt="秋季新款韩版复古长款毛衣"></a> 
                        </div>
                    </div>
                </div>
                <div class="poster_grid retsop poster_wall" style="position:absolute;top:735px;left:480px;">
                    <div class="new_poster">
                        <div class="np_pic hover_pic">
                            <div class="price">￥98.00</div>
                            <a class="pic_load" href="" target="_blank" title="秋季新款韩版复古长款毛衣"><img class="goods_pic" width="226" height="317" src="./images/yi16.jpg" alt="秋季新款韩版复古长款毛衣"></a> 
                        </div>
                    </div>
                </div>
                <div class="poster_grid retsop poster_wall" style="position:absolute;top:735px;left:720px;">
                    <div class="new_poster">
                        <div class="np_pic hover_pic">
                            <div class="price">￥98.00</div>
                            <a class="pic_load" href="" target="_blank" title="秋季新款韩版复古长款毛衣"><img class="goods_pic" width="226" height="317" src="./images/yi17.jpg" alt="秋季新款韩版复古长款毛衣"></a> 
                        </div>
                    </div>
                </div>
                <div class="poster_grid retsop poster_wall" style="position:absolute;top:735px;left:960px;">
                    <div class="new_poster">
                        <div class="np_pic hover_pic">
                            <div class="price">￥98.00</div>
                            <a class="pic_load" href="" target="_blank" title="秋季新款韩版复古长款毛衣"><img class="goods_pic" width="226" height="317" src="./images/yi18.jpg" alt="秋季新款韩版复古长款毛衣"></a> 
                        </div>
                    </div>
                </div>
                 <div class="poster_grid retsop poster_wall" style="position:absolute;top:1068px;left:0px;">
                    <div class="new_poster">
                        <div class="np_pic hover_pic">
                            <div class="price">￥98.00</div>
                            <a class="pic_load" href="" target="_blank" title="秋季新款韩版复古长款毛衣"><img class="goods_pic" width="226" height="317" src="./images/yi22.jpg" alt="秋季新款韩版复古长款毛衣"></a> 
                        </div>
                    </div>
                </div>
                <div class="poster_grid retsop poster_wall" style="position:absolute;top:1068px;left:240px;">
                    <div class="new_poster">
                        <div class="np_pic hover_pic">
                            <div class="price">￥98.00</div>
                            <a class="pic_load" href="" target="_blank" title="秋季新款韩版复古长款毛衣"><img class="goods_pic" width="226" height="317" src="./images/yi20.jpg" alt="秋季新款韩版复古长款毛衣"></a> 
                        </div>
                    </div>
                </div>
                <div class="poster_grid retsop poster_wall" style="position:absolute;top:1068px;left:480px;">
                    <div class="new_poster">
                        <div class="np_pic hover_pic">
                            <div class="price">￥98.00</div>
                            <a class="pic_load" href="" target="_blank" title="秋季新款韩版复古长款毛衣"><img class="goods_pic" width="226" height="317" src="./images/yi21.jpg" alt="秋季新款韩版复古长款毛衣"></a> 
                        </div>
                    </div>
                </div>
                <div class="poster_grid retsop poster_wall" style="position:absolute;top:1068px;left:720px;">
                    <div class="new_poster">
                        <div class="np_pic hover_pic">
                            <div class="price">￥98.00</div>
                            <a class="pic_load" href="" target="_blank" title="秋季新款韩版复古长款毛衣"><img class="goods_pic" width="226" height="317" src="./images/yi12.jpg" alt="秋季新款韩版复古长款毛衣"></a> 
                        </div>
                    </div>
                </div>
                <div class="poster_grid retsop poster_wall" style="position:absolute;top:1068px;left:960px;">
                    <div class="new_poster">
                        <div class="np_pic hover_pic">
                            <div class="price">￥98.00</div>
                            <a class="pic_load" href="" target="_blank" title="秋季新款韩版复古长款毛衣"><img class="goods_pic" width="226" height="317" src="./images/yi13.jpg" alt="秋季新款韩版复古长款毛衣"></a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--页脚-->
         <div class="footer">
            <div class="foot_con">
                <div class="f_list service_info">
                    <div class="kefu">
                        <span class="tel_ico"></span>
                        <p class="f20_f">4000-800-577</p>
                        <p class="f14_f mt4_f">美丽说客服热线</p>
                    </div>
                    <ol class="business" style="float:left;margin-left:45px;">
                        <li>周一至周日：08:00-24:00</li>
                    </ol>
                </div>
                <div class="f_list">
                    <h4>买家帮助</h4>
                    <ul>
                        <li><a href="#">新手指南</a></li>
                        <li><a href="#">服务保障</a></li>
                        <li><a href="#">帮助中心</a></li>
                    </ul>
                </div>
                <div class="f_list">
                    <h4>商家帮助</h4>
                    <ul>
                        <li><a href="#">商家入驻</a></li>
                        <li><a href="#">商家推广</a></li>
                        <li><a href="#">帮助中心</a></li>
                    </ul>
                </div>
                <div class="f_list">
                    <h4>关于我们</h4>
                    <ul>
                        <li><a href="#">关于美丽说</a></li>
                        <li><a href="#">联系我们</a></li>
                        <li><a href="#">加入美丽说</a></li>
                    </ul>
                </div>
                <div class="f_list">
                    <h4>关注我们</h4>
                    <ul>
                        <li><a href="#"><span class="i_sina">&nbsp;</span>新浪微博</a></li>
                        <li><a href="#"><span class="i_qzone">&nbsp;</span>QQ空间</a></li>
                        <li><a href=#""><span class="i_tx">&nbsp;</span>腾讯微博</a></li>
                    </ul>
                </div>
                <div class="f_list qr-code">
                    <h4>美丽说微信服务号</h4>
                    <img src="./images/ma.jpg" alt="美丽说服务号二维码">
                </div>
                <div class="f_list weixin_code">
                    <h4>美丽说客服端下载</h4>
                    <a class="client_pic" href="#"></a>
                </div>
                <div class="clear_f"></div>
                <div class="rolling" align="center">
                    <ul>
                        <li>
                            <a>友情链接：</a>
                            <a href="#">腾讯女性</a>
                            <a href="#">列表网</a>
                            <a href="#">太平洋女性网</a>
                            <a href="#">多宝汇</a>
                            <a href="#">七丽女性网</a>
                            <a href="#">酷我音乐</a>
                            <a href="#">时尚网</a>
                            <a href="#">保葫芦</a>
                            <a href="#">中国品牌服务网</a>
                            <a href="#">优美网</a>
                            <a href="#">男士时尚</a>
                            <a href="#">哈秀时尚网</a>
                        </li>
                    </ul>
                    <p class="link_more"><a href="">更多>></a></p>
                </div>
                <div class="record" align="center">
                        Copyright ©2015 Meilishuo.com &nbsp;
                    <a href="" target="_blank">电信与信息服务业务经营许可证100798号</a>&nbsp;
                    <a href="" target="_blank">经营性网站备案信息</a>&nbsp; 京ICP备11031139号&nbsp; 京公网安备110108006045&nbsp;<br>
                    客服邮箱：kf@meilishuo.com&nbsp;&nbsp;客服电话：4000-800-577&nbsp; 文明办网文明上网举报电话：010-82615762 &nbsp;
                    <a href="" target="_blank">违法不良信息举报中心</a>&nbsp;
                    <a href="" target="_blank">我最喜爱的人民警察评选&gt;&gt;</a>	
                </div>
            </div>
        </div>
    </body>
</html>
