<extend name="Common:index"/>
<block name="main">
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="#">主页</a>
                </li>

                <li>
                    <a href="#">用户管理</a>
                </li>
                <li class="active">用户添加</li>
            </ul><!-- .breadcrumb -->

            <div class="nav-search" id="nav-search">
                <form class="form-search">
                    <span class="input-icon">
                        <input type="text" placeholder="Search ..." name="username" class="nav-search-input" id="nav-search-input" autocomplete="off" />
                        <input type="submit" class="btn btn-primary btn-xs" value="搜索" style="border-radius:3px; height:28px; margin-top:-4px; padding-right:24px;">
                        <i class="icon-search nav-search-icon"></i>
                    </span>
                </form>
            </div><!-- #nav-search -->
        </div>

        <div class="page-content">
            <div class="page-header">
                <h1>
                    用户管理
                    <small>
                        <i class="icon-double-angle-right"></i>
                        用户修改
                    </small>
                </h1>
            </div><!-- /.page-header -->

            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <form action="__CONTROLLER__/update" method="post" enctype="multipart/form-data">
                                <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                                    <tbody>
                                        <tr>
                                            <td style="text-align:right;">用户名：</td>
                                            <td>
                                            <input type="hidden" name="id" value="{$info.id}" />
                                            {$info.username}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;">性别 : </td>
                                            <td>
                                                <input type="radio" name="sex" value="0"
                                                <?php if($info['sex']==0) echo 'checked'; ?>/>女

                                                <input type="radio" name="sex" value="1"
                                                <?php if($info['sex']==1) echo 'checked'; ?>/>男

                                                <input type="radio" name="sex" value="2"
                                                <?php if($info['sex']==2) echo 'checked'; ?>/>保密
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;">邮箱：</td>
                                            <td><input type="text" name="email" id="form-field-1" placeholder="格式符合的邮箱" class="col-xs-10 col-sm-5" value="{$info.email}"/><span class="esp"></span></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;">电话：</td>
                                            <td><input type="text" name="tel" id="form-field-1" class="col-xs-10 col-sm-5" value="{$info.tel}"/><span class="stel"></span></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;">头像</td>
                                            <td><input type="file" name="userpic" value=""><img src="__ROOT__/{$info.userpic}" id="form-field-1" style="width:200px;" class="col-xs-10 col-sm-5" /></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;">个人简介</td>
                                            <td><textarea class="form-control" rows="3" name="resume" value="" id="form-field-1" placeholder="用户名" class="col-xs-10 col-sm-5" />{$info['resume']}</textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;">需求：</td>
                                            <td>
                                            <select name="store">
                                                <option value="0" <if condition="$info.store eq 0">selected</if>>无</option>
                                                <option value="1" <if condition="$info.store eq 1">selected</if>>申请店铺</option>
                                                <option value="2" <if condition="$info.store eq 2">selected</if>>店铺通过审核</option>
                                            </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;">所属组名：</td>
                                            <td>

                                            <select name="groupid">
                                            <foreach name="data" item="v">
                                                <option value="{$v['id']}" <if condition="$info.groupid eq $v['id']">selected</if>>{$v['title']}</option>
                                            </foreach>
                                            </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;"><input type="submit" class="btn no-border" value="提交"></td>
                                            <td>
                                                <input class="btn no-border" type="reset" value="重置">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- <input type="hidden" name="id" value="{$user['id']}"> -->
                                </form>
                            </div><!-- /.table-responsive -->
                        </div><!-- /span -->
                    </div><!-- /row -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
        <script src="__PUBLIC__/Admin/js/jquery-1.8.3.min.js"></script>
        <script>
            //邮箱的聚焦事件
            $('input[name="email"]').focus(function(){
                $('.esp').empty();
            })
            //邮箱的失焦事件
            $('input[name="email"]').blur(function(){
                var str = $(this).val();
                var reg = /^\w+@\w+\.(com|cn|net|org|hk|com\.cn|me)$/;
                var res = reg.test(str);
                if(!res){
                    $('.esp').html('邮箱格式不正确');
                }
            })

            //手机号码的验证
            //手机的聚焦事件
            $('input[name="tel"]').focus(function(){
                $('.stel').empty();
            })
            //手机的失焦事件
            $('input[name="tel"]').blur(function(){

                var str = $(this).val();
                //验证手机号
                var reg = /^1\d{10}$/;
                var res = reg.test(str);
                 if(!res){
                    $('.stel').html('手机格式不正确');
                }
            })

        </script>
    </div>
    <!-- /.main-content -->
</block>
