<extend name="Common:index"/>
<block name="main">
<style>
    #pages a,#pages span{

        float: left;
        color: #337AB7;
        padding: 6px 12px;
        margin-left: -1px;
        position: relative;
        line-height: 1.42857;
        text-decoration: none;
        background-color: #FFF;
        border: 1px solid #DDD;
    }

    #pages span{
        color: #fff;
        z-index: 2;
        cursor:pointer;
        border-color: #337ab7;
        background-color: #337ab7;
    }
</style>
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="#">主页</a>
                </li>

                <li>
                    <a href="#">用户管理</a>
                </li>
                <li class="active">用户列表</li>
            </ul><!-- .breadcrumb -->

            <div class="nav-search" id="nav-search">
                <form class="form-search" action="{:U('Admin/User/index')}" method="get">
                    <span>
                        <label>
                        <select name="num" aria-controls="dataTables-example" class="form-control input-sm">
                        <option value="5" <if condition="$num eq 5">selected</if>>5</option>
                        <option value="10" <if condition="$num eq 10">selected</if>>10</option>
                        <option value="20" <if condition="$num eq 20">selected</if>>20</option>
                        <option value="30" <if condition="$num eq 30">selected</if>>30</option>
                        </select>
                        </label>
                    </span>
                    <span class="input-icon">
                        <input type="text" placeholder="Search ..." name="keyword" class="nav-search-input" id="nav-search-input" autocomplete="off" value="{$keyword}"/>
                        <input type="submit" class="btn btn-primary btn-xs" value="搜索" style="border-radius:3px; height:28px; margin-top:-4px; padding-right:24px;">
                        <i class="icon-search nav-search-icon"></i>
                    </span>
                </form>
            </div><!-- #nav-search -->
        </div>

        <div class="page-content">
            <div class="page-header">
                <h1>
                    用户管理
                    <small>
                        <i class="icon-double-angle-right"></i>
                        用户列表
                    </small>
                </h1>
            </div><!-- /.page-header -->

            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <form action="" method="post">
                                <table id="sample-table-1" class="table table-striped table-bordered table-hover" style="text-align:center;">
                                    <thead>
                                        <tr>
                                            <th class="center">ID</th>
                                            <th class="center">用户名</th>
                                            <th class="center">性别</th>
                                            <th class="center" class="hidden-480">头像</th>
                                            <th class="center" class="hidden-480">电话</th>
                                            <th class="center" class="hidden-480">邮箱</th>
                                            <th class="center" class="hidden-480">注册时间</th>
                                            <th class="center" class="hidden-480">需求</th>
                                            <th class="center" class="hidden-480">用户组</th>
                                            <th class="center" class="hidden-480">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <foreach name="data" item="v">
                                        <tr>

                                            <td>{$v.userid}</td>
                                            <td>{$v.username}</td>
                                            <td>{:getSex($v['sex'])}</td>
                                            <td class="hidden-480"><img src="__ROOT__/{$v.userpic}" width="30"></td>
                                            <td>{$v['tel']}</td>
                                            <td>{$v['email']}</td>
                                            <td>{$v['rtime']|date="Y-m-d H:i:s",###}</td>
                                            <td>{:getStore($v['store'])}</td>
                                            <td><if condition="$v['groupid'] eq 0">无<else />{$v['title']}</if></td>
                                            <td>
                                                <div class="center" class="visible-md visible-lg hidden-sm hidden-xs btn-group">

                                                    <a href="__CONTROLLER__/edit/id/{$v.userid}.html" class="btn btn-xs btn-info">
                                                        <i class="icon-edit bigger-120"></i>
                                                    </a>

                                                    <a href="__CONTROLLER__/delete/id/{$v.userid}.html" class="btn btn-xs btn-warning"/>
                                                        <i class="icon-trash bigger-120"></i>
                                                    </a>

                                                </div>

                                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                    <div class="inline position-relative">
                                                        <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
                                                            <i class="icon-cog icon-only bigger-110"></i>
                                                        </button>

                                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                                            <li>
                                                                <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                                                    <span class="blue">
                                                                        <i class="icon-zoom-in bigger-120"></i>
                                                                    </span>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                                    <span class="green">
                                                                        <i class="icon-edit bigger-120"></i>
                                                                    </span>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                                    <span class="red">
                                                                        <i class="icon-trash bigger-120"></i>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </foreach>
                                        <tr>
                                            <td colspan="10" id="pages"><div class="row"><div class="col-md-5"></div>{$page}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </form>
                            </div><!-- /.table-responsive -->
                        </div><!-- /span -->
                    </div><!-- /row -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->

    </div><!-- /.main-content -->
</block>