<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/show.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/images/favicon32.ico">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap.min.css">
    <title>修改密码</title>
</head>
<body>
    <!-- logo与主体内容 -->
    <div class="dl">
        <!-- logo显示 -->
        <div class="dl_logo">
            <a href="#"><img src="__PUBLIC__/Home/images/zc_logo.jpg" alt=""></a>
        </div>
        <!-- 主体内容 -->
        <div class="dl_main">
            <h3>安全设置-找回密码</h3>
            <div class="step_box">
            <ul class="clearfix">
                <li><span>输入登录名验证</span></li>
                <li class="no2"><span style="color:#ff5683;background-position:-38px -80px;">重置密码</span></li>
                <li class="no3"><span style="color:#ff5683;background-position:-98px -80px;">修改结果</span></li>
            </ul>
            </div>
            <div class="formbox">
                <ul>
                    <li class="delu_box">
                        <label class="label_title">尊贵的用户您好,密码已经修改成功</label>
                    </li>
                    <li class="delu_box">
                    <a href="login" id="btn_sub_form" class="btn_check" style="border-radius:5px;">点击登录页面</a>
                    </li>
                </ul>
            </div>
            <div class="verify_foot clearfix">
                <b class="mr10 fl">上述方法无法找回？牙牙来帮助你：</b>
                <p>1、发邮件到 <b>guest@mogujie.com</b> (邮件记得备注登录名哦~)</p>
                <p class="pt5">2、拨打客服热线：<b>0571-87361599</b></p>
            </div>
        </div>
        <!-- 尾部内容 -->
        <p class="footer">©Copyright 2010-2015 蘑菇街 Mogujie.com (增值电信业务经营许可证：浙B2-20110349)</p>
    </div>
</body>
</html>