.xd-manage-footer .content {
  margin-top: 0!important;
}
.xd-home-body .xd-page {
  padding: 0;
  border: none;
}
.xd-home-body + .xd-manage-footer {
  margin-top: 0;
}
.banner-wrap {
  height: 500px;
  margin-bottom: 110px;
  background: #ff5555;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
}
.login {
  width: 345px;
  height: 400px;
  overflow: hidden;
  margin: 50px 0;
  padding: 30px 40px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.login .xd-title {
  color: #ff5555;
  font-size: 28px;
  text-align: center;
}
.login-segment {
  margin-bottom: 20px;
}
.login-segment.user {
  margin-bottom: 70px;
}
.login-segment.user p {
  text-align: center;
}
.login-segment.user .uname {
  display: inline-block;
  max-width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: bottom;
}
.login-segment .xd-form-group {
  margin-bottom: 12px;
}
.login-segment .xd-field {
  display: block;
  height: 30px;
}
.login-segment .xd-input,
.login-segment .xd-select {
  width: 100%;
  background: #eee;
  border-radius: 2px;
  border-color: transparent;
  border-top-color: #e5e5e5;
}
.login-segment .xd-select {
  padding-right: 30px;
  padding-right: 4px\0;
  background: #eeeeee url(//s17.mogujie.com/p1/150626/upload_ie2wcmrxgftdanjqgizdambqhayde_32x34.png) right center no-repeat;
  background-image: none\0;
}
.login-segment .invalid {
  position: relative;
}
.login-segment .invalid .xd-input {
  background-color: #ffe4e4;
  border-top-color: #ffcfcf;
}
.login-segment .invalid .xd-form-tip {
  position: absolute;
  top: 30px;
  margin: 0;
  padding: 0;
  color: #ff5555;
  font-size: 12px;
  line-height: 20px;
}
.login-segment .invalid .xd-form-tip:before {
  display: none;
}
.login-segment .no-error .xd-form-tip {
  display: none;
}
.login-segment .capture-field {
  overflow: hidden;
  height: 100px;
  margin-top: -8px;
  -webkit-transition: height 200ms ease;
  transition: height 200ms ease;
}
.login-segment .capture-field.hide {
  display: block!important;
  height: 0;
  margin-bottom: 8px;
}
.login-segment .capture-list {
  height: 63px;
}
.login-segment .capture-list li {
  width: 63px;
  height: 63px;
}
.login-segment .enter {
  height: 34px;
  padding-top: 10px;
}
.mobile-field .xd-select {
  width: 99px;
}
.mobile-field .xd-input {
  width: 156px;
}
.notice-header {
  padding-bottom: 6px;
  border-bottom: 1px solid #e2e2e2;
}
.notice-header .title {
  display: inline-block;
  font-size: 16px;
}
.notice-header .text-secondary {
  font-size: 12px;
}
.notice .xd-placeholder {
  margin-top: 10px;
  padding: 10px 0;
}
.user + .notice .xd-placeholder {
  padding: 31px 0;
}
.notice-list {
  margin-top: 10px;
  color: #666666;
}
.notice-list li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.notice-list a {
  color: #666666;
}
.notice-list .list-num {
  display: inline-block;
  width: 20px;
}
.merchant-wrap {
  margin-bottom: 110px;
}
.merchant {
  width: 870px;
}
.merchant-header {
  background: #f6f6f6;
  width: 840px;
  height: 127px;
  margin-left: 30px;
  padding: 10px 45px 20px;
}
.merchant-header .count {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 24px;
  border-bottom: 1px solid #999;
}
.merchant-header .count .text-primary {
  margin: 0 10px;
  font-size: 42px;
}
.merchant-tile {
  height: 290px;
  width: 870px;
  cursor: default;
  -webkit-perspective: none;
  perspective: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.merchant-tile .xd-placeholder {
  background: #ff5555;
  height: 100%;
}
.merchant-tile .tile {
  position: relative;
  float: left;
  width: 145px;
  height: 145px;
  -webkit-transition: -webkit-transform 200ms ease 100ms;
  transition: transform 200ms ease 100ms;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.merchant-tile .tile:hover,
.merchant-tile .tile.reverse {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.merchant-tile .tile.reverse:hover {
  -webkit-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
.merchant-tile .tile-face {
  position: absolute;
  top: 0;
  width: 145px;
  height: 145px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.merchant-tile .tile-face.mask {
  background: #f13e3a;
  text-align: center;
  color: #fff;
  font-size: 18px;
  line-height: 145px;
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .merchant-tile {
    /* IE10+ CSS here */
  }
  .merchant-tile .tile {
    overflow: hidden;
  }
  .merchant-tile .tile:hover,
  .merchant-tile .tile.reverse,
  .merchant-tile .tile.reverse:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .merchant-tile .tile:hover .mask,
  .merchant-tile .tile.reverse .mask {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .merchant-tile .tile.reverse:hover .mask {
    -webkit-transform: translateY(145px);
    -ms-transform: translateY(145px);
    transform: translateY(145px);
  }
  .merchant-tile .tile-face {
    overflow: hidden;
  }
  .merchant-tile .tile-face.image {
    z-index: 1;
  }
  .merchant-tile .tile-face.mask {
    -webkit-transition: -webkit-transform 200ms ease 100ms;
    transition: transform 200ms ease 100ms;
    -webkit-transform: translateY(145px);
    -ms-transform: translateY(145px);
    transform: translateY(145px);
    z-index: 2;
    opacity: 0.8;
  }
}
.xd-ie8 .merchant-tile .tile:hover,
.xd-ie9 .merchant-tile .tile:hover,
.xd-ie8 .merchant-tile .tile.reverse,
.xd-ie9 .merchant-tile .tile.reverse {
  transform: none;
}
.xd-ie8 .merchant-tile .tile:hover .mask,
.xd-ie9 .merchant-tile .tile:hover .mask,
.xd-ie8 .merchant-tile .tile.reverse .mask,
.xd-ie9 .merchant-tile .tile.reverse .mask {
  display: block;
}
.xd-ie8 .merchant-tile .tile.reverse:hover,
.xd-ie9 .merchant-tile .tile.reverse:hover {
  transform: none;
}
.xd-ie8 .merchant-tile .tile.reverse:hover .mask,
.xd-ie9 .merchant-tile .tile.reverse:hover .mask {
  display: none;
}
.xd-ie8 .merchant-tile .tile-face.image,
.xd-ie9 .merchant-tile .tile-face.image {
  z-index: 1;
}
.xd-ie8 .merchant-tile .tile-face.mask,
.xd-ie9 .merchant-tile .tile-face.mask {
  display: none;
  z-index: 2;
  opacity: 0.8;
  transform: none;
}
.download {
  position: relative;
  width: 292px;
  height: 417px;
  background: url(//s18.mogujie.com/p1/150625/upload_iezgemrwmnqtcmjqgizdambqmmyde_292x417.png) no-repeat;
}
.btn-download {
  position: absolute;
  width: 189px;
  height: 45px;
  left: 52px;
}
.btn-download.iOS {
  top: 279px;
}
.btn-download.Android {
  top: 337px;
}
.market {
  margin-bottom: 110px;
  overflow: hidden;
}
.market-header {
  margin-bottom: 68px;
  background: url('//s17.mogujie.com/p1/150625/upload_ie2wgolfge2dmmjqgizdambqhayde_1192x214.png') center top no-repeat;
  background-position: 0 0;
  width: 1192px;
  height: 149px;
}
.market-list {
  margin-right: -80px;
}
.market-list a[title=""] {
  cursor: default;
}
.market-item {
  float: left;
  position: relative;
  width: 241px;
  height: 241px;
  margin: 0 78px 60px 0;
  padding-top: 155px;
  background: transparent no-repeat;
  text-align: center;
  color: #333333;
}
.market-item .desc {
  font-size: 13px;
}
.market-item .count {
  font-weight: bold;
}
.market-banner {
  width: 580px;
  height: 260px;
}
.market-banner .xd-placeholder {
  height: 100%;
  background: #f6f6f6;
}
.market-notice {
  width: 290px;
  height: 260px;
  padding: 30px 15px;
  background: #f6f6f6;
  /* Override */
}
.market-notice .notice-header {
  border-bottom-width: 5px;
}
.market-notice .title {
  font-size: 18px;
}
.market-notice .notice-list {
  line-height: 30px;
}
.market-notice .xd-placeholder {
  padding: 64px 0;
  background: transparent;
}
.market-notice .nav {
  display: inline-block;
}
.market-notice .btn-nav {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 6px;
  border: 1px solid #6d6d6d;
  color: #666;
  font-size: 12px;
  text-align: center;
  line-height: 16px;
}
.market-notice .btn-nav[disabled] {
  color: #b3b3b3;
  border-color: #bababa;
}
.community-header {
  background: url('//s17.mogujie.com/p1/150625/upload_ie2wgolfge2dmmjqgizdambqhayde_1192x214.png') center top no-repeat;
  background-position: 0 -149px;
  width: 1192px;
  height: 33px;
}
.community {
  overflow: hidden;
}
.community .community-list {
  margin: 45px 0 50px 0;
}
.community .unit {
  display: inline-block;
  width: 280px;
  height: 266px;
  overflow: hidden;
  background: #f6f6f6;
  margin-left: 15px;
}
.community .unit .img {
  height: 180px;
  overflow: hidden;
}
.community .unit img {
  width: 100%;
}
.community .unit .desc {
  font-size: 14px;
  color: #666;
  padding-bottom: 5px;
  margin: 25px 25px 0;
  border-bottom: 1px solid #ddd;
}
.tool-header {
  background: url('//s17.mogujie.com/p1/150625/upload_ie2wgolfge2dmmjqgizdambqhayde_1192x214.png') center top no-repeat;
  background-position: 0 -182px;
  width: 1192px;
  height: 32px;
  margin-bottom: 70px;
}
.tool-item {
  display: inline-block;
  width: 20%;
  padding-bottom: 100px;
  text-align: center;
}
.tool-item .title {
  font-size: 18px;
}
.tool-item .desc {
  color: #999;
}
.tool-icon {
  display: inline-block;
  margin-bottom: 25px;
  background: url('//s18.mogujie.com/p1/150625/upload_iezwkojtg43domjqgizdambqgyyde_276x184.png') no-repeat;
}
.tool-icon.goods {
  background-position: -5px -5px;
  width: 82px;
  height: 82px;
}
.tool-icon.order {
  background-position: -97px -5px;
  width: 82px;
  height: 82px;
}
.tool-icon.fund {
  background-position: -5px -97px;
  width: 82px;
  height: 82px;
}
.tool-icon.im {
  background-position: -97px -97px;
  width: 82px;
  height: 82px;
}
.tool-icon.promotion {
  background-position: -189px -5px;
  width: 82px;
  height: 82px;
}
.image-slide {
  position: relative;
  overflow: hidden;
}
.image-slide .img-list {
  position: relative;
}
.image-slide .img-list a {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
}
.image-slide .dot-list {
  position: absolute;
  right: 0;
  bottom: 10px;
  z-index: 100;
}
.image-slide .dot-list span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}
.image-slide .dot-list span.c {
  border: 0;
  background-color: #ff5555;
}
.image-slide .prev-btn,
.image-slide .next-btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  margin-top: -20px;
  cursor: pointer;
}
.image-slide .prev-btn {
  left: 0;
}
.image-slide .next-btn {
  right: 0;
}
.capture-field {
  font-size: 12px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.capture-field .xd-field {
  height: 100px;
}
.capture-list {
  height: 69px;
  overflow: hidden;
  white-space: nowrap;
}
.capture-list li {
  display: inline-block;
  width: 69px;
  height: 69px;
  margin-right: 4px;
  cursor: pointer;
}
.xd-placeholder {
  padding: 30px 0;
  background: #f5f5f5;
  text-align: center;
}
td .xd-placeholder {
  background: transparent;
}
.xd-placeholder p {
  color: #666666;
  display: inline-block;
}
/*
* @Author: zikong
* @Date:   2015-09-09 16:34:17
* @Last Modified by:   zikong
* @Last Modified time: 2015-09-09 16:34:17
*/
/* 雪碧图 */
.zk-slide {
  position: relative;
}
.zk-slide .zk-slide-prev,
.zk-slide .zk-slide-next {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  height: 32px;
  width: 26px;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url('http://s17.mogucdn.com/pic/140213/ubzlo_kqzew2cfkrbgex2ugfjeg5sckzsew_480x400.png');
  z-index: 1;
  cursor: pointer;
}
.zk-slide .zk-slide-prev {
  background-position: -158px -355px;
  left: 0;
}
.zk-slide .zk-slide-next {
  background-position: -205px -355px;
  right: 0;
}
.zk-slide .zk-slide-imgs {
  position: relative;
  height: 200px;
  overflow-x: hidden;
}
.zk-slide .zk-slide-imgs .zk-slide-imgs-item {
  position: absolute;
  left: -100%;
  top: 0;
  display: block;
}
.zk-slide .zk-slide-imgs .zk-slide-imgs-item a {
  margin-left: 7px;
}
.zk-slide .zk-slide-imgs .zk-slide-ii-current {
  display: block;
}


.security-mask{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background:rgba(0,0,0,.5);
  -webkit-transform-style:preserve-3d;
  transform-style:preserve-3d;
  -webkit-perspective:500px;
  perspective:500px;z-index:1000;
}

.security-mask .security-check-pop{
  position:absolute;
  width:420px;
  margin-left:-210px;
  margin-top:-123px;
  top:50%;
  left:50%;
  background:#fff;
  box-shadow:0 0 10px rgba(0,0,0,.3);
  -webkit-transition:-webkit-transform 200ms;
  -moz-transition:transform 200ms;
  transition:transform 200ms;
  z-index:1050;
  -webkit-transform:translateZ(0.01px);
  -webkit-transform-origin:50% 100%;
  -moz-transform-origin:50% 100%;
  transform-origin:50% 100%;
}

.security-mask .security-check-pop .security-tit{
  height:45px;
  padding-left:20px;
  background:#f4f5fa;
  line-height:44px;
  text-align:center;
  font-size:16px;
}

.security-mask .security-check-pop .security-cnt{
  height:200px;
  background:url(http://s7.mogujie.com/pic/150302/ubzlo_ieytmodbgjsgimdcmyytambqmeyde_40x40.gif) center center no-repeat

}

.security-inner-wrap{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:200px;
  background:#fff;
}

.security-inner-wrap .security-inner-cnt{
  padding:70px 20px 70px 90px;
  background:url(http://s7.mogujie.com/pic/150302/ubzlo_ieytmodbgjsgimdcmyytambqmeyde_40x40.gif) 30px center no-repeat
}

.security-inner-wrap .security-inner-checkform{
  display:none;padding:36px 38px 0;
}

.security-inner-wrap .security-inner-checkform p{
  padding-bottom:16px;
}

.security-inner-wrap .security-inner-checkform .sec-ft{
  font-size:14px;
}

.security-inner-wrap .security-inner-checkform .sec-txt{
  width:150px;
  height:30px;
  line-height:30px;
  border:1px solid #c4c4c4;
  color:#333;
  font-size:14px;
  padding:0 10px;
  outline:0;
  margin-right:5px;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-transition:border-color ease-in-out .15s;
  -o-transition:border-color ease-in-out .15s;
  transition:border-color ease-in-out .15s;
}



.security-inner-wrap .security-inner-checkform .sec-txt:focus{
  -webkit-box-shadow:none;
  box-shadow:none;
  border-color:#f55;
}

.security-inner-wrap .security-inner-checkform .sec-btn{
  display:inline-block;
  min-width:120px;
  height:30px;
  margin:0 10px 0 0;
  padding:8px 20px;
  border:1px solid #c4c4c4;
  border-radius:2px;
  color:#666;
  font-size:14px;
  line-height:14px;
  text-align:center;
  cursor:pointer;
  outline:0;
  background:#f55;
  border-color:#f55;
  color:#fff;
  font-weight:700;
}


.security-inner-wrap .security-inner-checkform .sec-btn.sec-btn-gray{
  background:#ddd;
  border:1px solid #ddd;
}

.security-inner-wrap .security-inner-checkform .sec-btn.btn-sms-enable{
  background:#f55;
  border:1px solid #f55;
}


.security-inner-wrap .security-inner-checkform .sec-error{
  color:#f55;

}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,.hgroup,main,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;vertical-align:baseline}*{box-sizing:border-box}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{
  display:block;
}

body{
  color:#333;
  font:14px/1.5 Tahoma,"Hiragino Sans GB","Microsoft yahei",serif;
  -webkit-font-smoothing:antialiased;
}


input,textarea,keygen,select,button{
  font-family:Tahoma,"Hiragino Sans GB","Microsoft yahei",serif;
}

ol,ul{
  list-style:none;
}

blockquote,q{
  quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after{
  content:'';
  content:none;
}

a{
  text-decoration:none;
  color:#2ad;
}

a:hover,a:active{
  outline:0;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

h1,h2,h3,h4,h5,h6{
  font-weight:400;
}

.clearfix:before,.clearfix:after{
  content:" ";
  display:table;
}

.clearfix:after{
  clear:both;
}

.center-block{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.fl{
  float:left!important;
}

.fr{
  float:right!important;
}

.hide{
  display:none!important;
}

.show{
  display:block!important;
}

.invisible{
  visibility:hidden;
}

.text-primary{
  color:#f55;
}

.text-secondary{
  color:#666;
}

.text-helper{
  color:#888;

}

.text-single-line{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}


.mt0{
  margin-top:0!important;
}

.mt5{
  margin-top:5px!important;
}

.mt10{
  margin-top:10px!important;
}

.mt15{
  margin-top:15px!important;
}

.mt20{
  margin-top:20px!important;
}

.mt25{
  margin-top:25px!important;
}

.mt30{
  margin-top:30px!important;
}

.mt35{
  margin-top:35px!important;
}

.mt40{
  margin-top:40px!important;
}

.mr0{
  margin-right:0!important;
}

.mr5{
  margin-right:5px!important;
}

.mr10{
  margin-right:10px!important;
}

.mr15{
  margin-right:15px!important;
}

.mr20{
  margin-right:20px!important;
}

.mr25{

  margin-right:25px!important;
}

.mr30{
  margin-right:30px!important;
}

.mr35{
  margin-right:35px!important;
}

.mr40{
  margin-right:40px!important;
}

.mb0{
  margin-bottom:0!important;
}

.mb5{
  margin-bottom:5px!important;
}

.mb10{
  margin-bottom:10px!important;
}

.mb15{
  margin-bottom:15px!important;
}

.mb20{
  margin-bottom:20px!important;
}

.mb25{
  margin-bottom:25px!important;
}

.mb30{
  margin-bottom:30px!important;
}

.mb35{
  margin-bottom:35px!important;
}

.mb40{
  margin-bottom:40px!important;
}

.ml0{
  margin-left:0!important;
}

.ml5{
  margin-left:5px!important;
}

.ml10{
  margin-left:10px!important;
}

.ml15{
  margin-left:15px!important;
}

.ml20{
  margin-left:20px!important;
}

.ml25{
  margin-left:25px!important;
}

.ml30{
  margin-left:30px!important;
}

.ml35{
  margin-left:35px!important;
}

.ml40{
  margin-left:40px!important;
}

body{
  background:#e7e8eb;
  position:relative;
}

.xd-fm1200{
  width:1200px;
  margin:0 auto;
}

.xd-manage-nav{
  height:70px;
  background:#fff;
  border-bottom:1px solid #d2d2d2;
  margin-bottom:35px;
}


.xd-manage-nav .logo{
  background:url(http://s17.mogucdn.com/pic/150320/sp1ku_iezgknzwg4ztqyzqgazdambqmmyde_188x32.png) no-repeat;
  display:inline-block;
  width:188px;
  height:32px;
  font:0/0 a;
  margin-top:20px;
}

.xd-manage-nav .loading{
  padding:23px 30px 0;
}

.xd-manage-nav .login{
  margin-top:15px;
}

.xd-manage-nav .login .face{
  width:40px;
  height:40px;
  display:block;
  overflow:hidden;
  margin-right:10px;
}

.xd-manage-nav .login .info a{
  font-size:14px;
  color:#333;

}

.xd-manage-nav .login .info .msg{
  background:url(http://s15.mogucdn.com/pic/150320/sp1ku_ie2tanzumuytszbqgazdambqhayde_50x100.png) 0 0 no-repeat;
  display:inline-block;
  width:20px;
  height:14px;
  position:relative;
}

.xd-manage-nav .login .info .msg i{
  position:absolute;
  width:6px;
  height:6px;
  border-radius:6px;
  top:-3px;
  right:-3px;
  background:#f55;
}
.xd-manage-nav .login .split{
  color:#cacaca;
}

.xd-manage-nav .unlogin{
  padding-top:35px;
}

.xd-manage-nav .unlogin a{
  color:#333;
  font-size:14px;
}
.xd-manage-nav .unlogin .split{
  color:#cacaca;
  margin:0 5px;
}
.xd-manage-nav .menu{
  margin-top:27px;
  margin-left:55px;
}
.xd-manage-nav .menu a{
  color:#666;
  font-size:16px;
  margin-right:60px;
}
.xd-manage-nav .menu a:hover{
  border-bottom:2px solid #f55;
  color:#f55;
}
.xd-home-nav{
  height:60px;
  margin-bottom:0;
  background:#fff;
  border:none;
}

.xd-nav-menu{
  font-size:16px;
  padding:16px 0;
}

.xd-nav-menu li{
  display:inline-block;
  width:100px;
  text-align:right;
  height:28px;
  line-height:28px;
}
.xd-nav-menu li a{
  color:#666;
}
.xd-nav-menu li.active a,.xd-nav-menu li:hover a{
  height:28px;
  border-bottom:2px solid #f55;
  color:#f55;
  line-height:28px;
}
.xd-manage-body>.content{
  border:1px solid #d2d2d2;
  background:#fff;
}
.xd-manage-body .xd-manage-slide{
  width:210px;
  margin-left:-100%;
  background:#fff;
  border-right:1px solid #e2e2e2;
  padding-bottom:100px;
}
.xd-manage-body .xd-manage-slide .box{
  border-bottom:1px solid #e2e2e2;
  padding-top:16px;
  padding-bottom:10px;
}

.xd-manage-body .xd-manage-slide .box h1{
  font-size:16px;
  color:#888;
  padding-left:50px;
  line-height:16px;
  margin-bottom:10px;
  background:url(http://s15.mogucdn.com/pic/150320/sp1ku_ie2tanzumuytszbqgazdambqhayde_50x100.png) 28px -18px no-repeat;
  cursor:pointer;
}

.xd-manage-body .xd-manage-slide .box li{
  height:30px;
  line-height:30px;
}

.xd-manage-body .xd-manage-slide .box li a{
  color:#333;
  font-size:14px;
  padding-left:50px;
  display:block;
}

.xd-manage-body .xd-manage-slide .box li a:hover{
  color:#f55;
}
.xd-manage-body .xd-manage-slide .box li a.c{
  color:#fff;
  background-color:#f55;
}
.xd-manage-body .xd-manage-slide .in{
  padding-top:16px;
  padding-bottom:16px;
}
.xd-manage-body .xd-manage-slide .in h1{
  background-position:31px -36px;
  margin-bottom:0;
  font-size:16px;
  color:#333;
}
.xd-manage-body .xd-manage-slide .in ul{
  display:none;
}
.xd-manage-body .xd-manage-content{
  background:#fff;
  width:100%;
  min-height:500px;
}
.xd-manage-body .xd-manage-content .box{
  margin-left:211px;
  padding:0 30px;
}
.xd-manage-footer .content{
  background-color:#333;
  width:100%;
  min-width:1200px;
  padding:10px 20px 0 20px;
  margin-top:100px;
}
.footer-top-line .footer-app-icon{
  padding-bottom:8px;
}
.footer-top-line .app-icon{
  display:inline-block;
  background:url(http://s18.mogucdn.com/p1/150708/upload_ie2dkztbgrrgemzugizdambqgiyde_44x44.jpg) no-repeat top left;
  width:44px;
  height:44px;
  vertical-align:top;
}
.footer-top-line .app-title{
  display:inline-block;
  width:75px;
  vertical-align:top;
  color:#fff;
  font-size:18px;
  line-height:23px;
}
.footer-top-line .through-line{
  border-top:1px solid #f5f5f5;
  width:122px;
}
.footer-top-line .footer-app-tips{
  padding-top:8px;
  font-size:14px;
  height:30px;
  line-height:20px;
  letter-spacing:7px;
  color:#fff;
}
.footer-top-line .footer-barcode,.footer-top-line .footer-sj-qrcode{
  width:79px;
  height:79px;
}
.footer-top-line .footer-barcode{
  background:url(http://s17.mogucdn.com/p1/150708/upload_iezgkmrumy4tomzugizdambqmmyde_79x79.jpg) no-repeat top left
}

.footer-top-line .footer-sj-qrcode{
  background:url(http://s16.mogucdn.com/p1/150815/upload_iezdcztegi2tgnzqgmzdambqmmyde_79x79.png) no-repeat top left
}
.footer-top-line .footer-app-link{
  margin-left:6px;
}

.footer-top-line .app-link,.footer-top-line .apk-link{
  display:block;
  width:140px;
  line-height:37px;
  height:37px;
  background-repeat:no-repeat;
  background-position:8px 5px;
  background-color:#fff;
  padding-left:41px;
  border-radius:4px;
  color:#f6433f;
  font-size:15px;
}
.footer-top-line .app-link{
  background-image:url(http://s16.mogucdn.com/p1/150708/upload_iezgmmjxgezdqmzugizdambqmmyde_22x25.png)
}
.footer-top-line .apk-link{
  background-image:url(http://s18.mogucdn.com/p1/150708/upload_ieywmyrzmyzdqmzugizdambqmeyde_23x28.png);
  margin-top:6px;
}
.footer-top-line .footer-wechat-service{
  margin-left:20px;
  color:#f5f5f5;
}
.footer-top-line .phone-title,.footer-top-line .phone-detail,.footer-top-line .work-time-title,.footer-top-line .customer-service-title{
  height:30px;
  line-height:30px;
  color:#fff;
}

.footer-top-line .footer-phone{
  width:190px;
  border-right:1px solid #f5f5f5;
  height:68px;
}
.footer-top-line .phone-title,.footer-top-line .work-time-title,.footer-top-line .customer-service-title{
  padding-left:34px;
  font-size:16px;
  background:url(http://s16.mogucdn.com/p1/150708/upload_ieytanzvmfqwemzugizdambqmeyde_28x28.jpg) no-repeat top left
}
.footer-top-line .phone-detail{
  font-size:23px;
}
.footer-top-line .footer-work-time{
  margin-left:30px;
}
.footer-top-line .work-time-detail{
  display:inline-block;
  margin-top:6px;
  width:150px;
  font-size:13px;
  color:#fff;
}

.footer-top-line .footer-customer-service .customer-service-detail{
  margin-top:6px;
}

.footer-top-line .footer-customer-service p{
  color:#fff;
  font-size:13px;
  display:block;
  line-height:1.5;
}

.footer-customer-service .contact-service{
  display:inline-block;
  *display:inline;
  *zoom:1;
  color:#fff;
}
.footer-top-line .footer-customer-service .contact-icon{
  background:url(http://s18.mogucdn.com/p1/150815/upload_ieytszlbmrqtinzqgmzdambqmeyde_19x21.png) no-repeat 0 0;
  width:20px;
  height:22px;
  float:left;
}
.footer-top-line{
  margin-top:20px;
}
.footer-bottom-line{
  margin-top:40px;
}
.footer-bottom-line{
  padding-bottom:10px;
}
.footer-bottom-line .footer-bottom-link{
  overflow:hidden;
}
.footer-bottom-line .bottom-link-detail{
  margin-left:-6px;
}
.footer-bottom-line a{
  color:#fff;
  padding-left:8px;
  padding-right:8px;
  border-left:1px solid #f5f5f5;
}
.footer-bottom-line .bottom-link-title{
  color:#999;
  margin-top:4px;
}
.footer-bottom-line .footer-certify{
  margin-top:22px;
  color:#999;
}
.xd-sidebar{
  width:210px;
  background:#fff;
  border:1px solid #e2e2e2
}
.xd-sidebar .xd-menu .xd-title{
  display:block;
}
.xd-sidebar .xd-menu>.xd-menu-item{
  padding:10px 0;
  border-bottom:1px solid #e2e2e2;
}
.xd-sidebar .xd-menu>.xd-menu-item.expand .xd-submenu{
  display:block;
}
.xd-sidebar .xd-menu>.xd-menu-item .xd-title{
  height:40px;
  padding-left:60px;
  color:#888;
  font-size:16px;
  line-height:40px;
}
.xd-sidebar .xd-submenu{
  display:none;
}
.xd-sidebar .xd-submenu .xd-menu-item.active .xd-title{
  background:#f55;
  color:#fff!important;
  cursor:default;
}
.xd-sidebar .xd-submenu .xd-menu-item .xd-title{
  height:30px;
  color:#333;
  font-size:14px;
  line-height:30px;
}
.xd-sidebar .xd-submenu .xd-menu-item .xd-title:hover{
  color:#f55;
}
.xd-page{
  padding:0 30px;
  background:#fff;
  border:1px solid #e2e2e2;
}
.xd-manage-content>.xd-page{
  margin-left:209px;
  border:none;
  border-left:1px solid #e2e2e2;
}
.xd-page.no-sidebar{
  border:none!important;
}
.xd-page .xd-header{
  padding:24px 0;
  margin-bottom:30px;
  color:#333;
  border-bottom:1px solid #e2e2e2;
  line-height:32px;
}
.xd-page .xd-header .xd-title{
  display:inline-block;
  height:32px;
  overflow:hidden;
  margin-right:15px;
  font-size:16px;
  vertical-align:middle;
}
.xd-page .xd-header .xd-btn{
  vertical-align:middle;
}
.xd-page .xd-header .xd-input{
  margin-bottom:0;
}
.xd-page .xd-section{
  margin-bottom:30px;
}
.xd-page .xd-section-header{
  margin-bottom:20px;
}
.xd-page .xd-section-header .xd-title{
  display:inline-block;
  margin-right:15px;
  font-size:14px;
}
.xd-page .xd-section-header .xd-input,.xd-page .xd-section-header .xd-select{
  margin-bottom:0;
  vertical-align:middle;
}
.xd-page .xd-section-header .xd-btn{
  vertical-align:middle;
}
.xd-page .xd-footer{
  margin-top:40px;
  padding-bottom:40px;
  text-align:center;
}
.xd-page-nav{
  height:40px;
  padding-top:5px;
}
.xd-page-nav li{
  float:left;
  margin-right:40px;
}
.xd-page-nav li:hover a{
  border-bottom:2px solid #c4c4c4;
}
.xd-page-nav li.active a{
  border-bottom:2px solid #f55;
}
.xd-page-nav li a{
  display:block;
  height:40px;
  color:#333;
  line-height:40px;
}
.xd-header .xd-page-nav{
  height:20px
}
.xd-table{
  width:100%;
  border:1px solid #e2e2e2;
  border-collapse:collapse;
}
.xd-table+.xd-table{
  border-top-width:0;
}
.xd-table thead{
  color:#666;
  background:#f4f5fa;
}
.xd-table th,.xd-table td{
  padding:10px 16px;
  font-weight:400;
  border-right:1px solid #e2e2e2;
  border-bottom:1px solid #e2e2e2;
  text-align:left;
  vertical-align:middle;
}
.xd-panel{
  margin-bottom:20px;
  border:1px solid #e2e2e2;
  background:#fff;
}
.xd-panel-header{
  height:45px;
  padding:10px 20px;
  background:#f4f5fa;
  border-bottom:1px solid #e2e2e2
}
.xd-panel-header .xd-title{
  display:inline-block;
  font-size:16px;
}
.xd-panel-header sub{
  font-size:12px;
}
.xd-panel-body{
  padding:15px 20px;
}
.xd-panel-footer{
  padding-bottom:20px;
  text-align:center;
}
.xd-btn{
  display:inline-block;
  min-width:120px;
  height:30px;
  margin:0 10px 0 0;
  padding:8px 20px;
  background:#fff;
  border:1px solid #c4c4c4;
  border-radius:2px;
  color:#666;
  font-size:14px;
  line-height:14px;
  text-align:center;
  cursor:pointer;
  outline:0;
}
.xd-btn.active,.xd-btn:active{
  background-color:#f5f5f5;
  color:#333;
}
.xd-btn.disabled,.xd-btn[disabled]{
  background-color:#ddd!important;
  border-color:#ddd!important;
  color:#fff!important;
  cursor:not-allowed;
}
.xd-btn.primary{
  background-color:#f55;
  border-color:#f55;
  color:#fff;
  font-weight:700;
}
.xd-btn.primary.active,.xd-btn.primary:active{
  background-color:#e53132;
}
.xd-btn.helper{
  min-width:0;
  height:25px;
  padding:6px 20px;
  border-color:#f55;
  color:#f55;
  font-size:13px;
  line-height:12px;
}
.xd-btn.helper.active,.xd-btn.helper:active{
  background-color:#fff;
  border-color:#e53132;
  color:#e53132;
}
.xd-btn.block{
  display:block;
  width:100%;
  margin:0;
}
.xd-link{
  display:inline-block;
  margin:0 5px;
  background:0 0;
  border:none;
  color:#2ad;
  cursor:pointer;
}
.xd-label{
  display:inline-block;
  line-height:30px;
  text-align:right;
  vertical-align:top;
}
.xd-label.required{
  padding-right:10px;
}
.xd-label.required:after{
  content:'*';
  color:#f55;
}
.xd-option{
  display:inline-block;
  margin-right:10px;
  line-height:30px;
}
.xd-option.block{
  display:block;
  margin-bottom:10px;
}
.xd-option .xd-input,.xd-option .xd-select{
  margin:0 5px;
  width:150px;
}
.xd-form-group{
  margin-bottom:20px;
}
.xd-form-inline .xd-form-group{
  display:inline-block;
}
.xd-form-action{
  margin-top:30px;
  padding-left:80px;
}
.xd-field{
  display:inline-block;
  line-height:30px;
  position:relative
}
.xd-form-tip{
  display:none;
  position:relative;
  height:30px;
  margin-left:10px;
  padding-left:20px;
  line-height:30px;
  vertical-align:top;
}
.xd-form-tip:before{
  content:'';
  position:absolute;
  display:inline-block;
  width:18px;
  height:18px;
  top:6px;
  left:0;
  background:url(http://s16.mogucdn.com/p1/150629/upload_ie2tizdegjtdsnjrgizdambqhayde_20x320.png) no-repeat 0 0;
  vertical-align:middle
}
.invalid .xd-form-tip{
  display:inline-block;
}
.invalid .xd-form-tip:before{
  background-position:0 0;
}
.valid .xd-form-tip:before{
  background-position:0 -34px;
}
.invalid .xd-input,.invalid .xd-textarea,.invalid .xd-select{
  border-color:#f55;
}
.xd-input,.xd-uploader{
  width:200px;
  height:30px;
  line-height:30px;
  border:1px solid #c4c4c4;
  color:#333;
  font-size:14px;
  padding:0 10px;
  outline:0;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-transition:border-color ease-in-out .15s;
  -o-transition:border-color ease-in-out .15s;
  transition:border-color ease-in-out .15s
}
.xd-input:focus,.xd-uploader:focus{
  -webkit-box-shadow:none;
  box-shadow:none;
  border-color:#f55;
}
.xd-input.invalid{
  border-color:#f55;
  color:#333;
}
.xd-input.disabled,.xd-input[disabled],.xd-select.disabled,.xd-select[disabled]{
  background-color:#ddd;
  cursor:not-allowed;
  color:#888;
}
.xd-select{
  width:150px;
  height:30px;
  line-height:1.5;
  border:1px solid #c4c4c4;
  border-radius:0;
  color:#333;
  font-size:14px;
  padding:4px 35px 4px 10px;
  padding-right:4px\0;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  background:url(http://s7.mogucdn.com/pic/150410/1blhwf_ieywgzrrgy3tcyjxgazdambqmeyde_29x30.png) right center no-repeat #fff;
  background-image:none\0;
  outline:0;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-transition:border-color ease-in-out .15s;
  -o-transition:border-color ease-in-out .15s;
  transition:border-color ease-in-out .15s;
}
.xd-select:focus{
  -webkit-box-shadow:none;
  box-shadow:none;
  border-color:#f55;
}
.xd-textarea{
  display:block;
  border:1px solid #c4c4c4;
  color:#333;
  font-size:14px;
  padding:10px;
  background:#fff;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;outline:0;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-transition:border-color ease-in-out .15s;
  -o-transition:border-color ease-in-out .15s;
  transition:border-color ease-in-out .15s;
}
.xd-textarea:focus{
  -webkit-box-shadow:none;
  box-shadow:none;
  border-color:#f55;
}
.xd-radio{
  display:none;
}
.xd-radio+span{
  display:inline;
  font-size:14px;
  cursor:pointer;
}
.xd-radio+span::before{
  content:'';
  width:18px;
  height:18px;
  background:url(http://s8.mogucdn.com/pic/150401/13t2zv_ieztkmzwgu4tcyrugazdambqgyyde_50x150.png) 0 -36px no-repeat;
  display:inline-block;
  cursor:pointer;
  vertical-align:middle;
}
.xd-radio:checked+span::before{
  content:'';
  background:url(http://s8.mogucdn.com/pic/150401/13t2zv_ieztkmzwgu4tcyrugazdambqgyyde_50x150.png) 0 0 no-repeat;
}
.xd-radio:disabled+span,.xd-radio:disabled+span::before{
  cursor:not-allowed
}
.xd-radio:disabled+span::before{
  content:'';
  background:url(http://s8.mogucdn.com/pic/150401/13t2zv_ieztkmzwgu4tcyrugazdambqgyyde_50x150.png) 0 -77px no-repeat
}
.xd-radio:disabled:checked+span::before{
  content:'';
  background:url(http://s8.mogucdn.com/pic/150401/13t2zv_ieztkmzwgu4tcyrugazdambqgyyde_50x150.png) 0 -121px no-repeat;
}
.xd-checkbox{
  display:none;
}
.xd-checkbox+span{
  display:inline;
  font-size:14px;
  cursor:pointer;
}
.xd-checkbox+span::before{
  content:'';
  width:18px;
  height:18px;
  background:url(http://s8.mogucdn.com/pic/150401/13t2zv_ieztkmzwgu4tcyrugazdambqgyyde_50x150.png) -34px -36px no-repeat;
  display:inline-block;
  cursor:pointer;
  vertical-align:middle;
}
.xd-checkbox:checked+span::before{
  content:'';
  background:url(http://s8.mogucdn.com/pic/150401/13t2zv_ieztkmzwgu4tcyrugazdambqgyyde_50x150.png) -34px 0 no-repeat
}
.xd-checkbox:disabled+span,.xd-checkbox:disabled+span::before{
  cursor:not-allowed;
}
.xd-checkbox:disabled+span::before{
  content:'';
  background:url(http://s8.mogucdn.com/pic/150401/13t2zv_ieztkmzwgu4tcyrugazdambqgyyde_50x150.png) -34px -77px no-repeat;
}
.xd-checkbox:disabled:checked+span::before{
  content:'';
  background:url(http://s8.mogucdn.com/pic/150401/13t2zv_ieztkmzwgu4tcyrugazdambqgyyde_50x150.png) -34px -121px no-repeat;
}
.xd-uploader{
  position:relative;
  width:212px;
  height:32px;
  background:#fff;
  overflow:hidden;
  padding:0;
}
.xd-uploader .filename{
  width:70%;
  color:#888;
  float:left;
  display:block;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  cursor:default;
  position:relative;
  text-indent:10px;
}
.xd-uploader .action{
  width:30%;
  text-align:center;
  background-color:#f4f5fa;
  font-size:14px;
  float:left;
  overflow:hidden;
  cursor:pointer;
  border-left:1px solid #c4c4c4;
}
.xd-uploader input{
  opacity:0;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  float:right;
  height:100%;
  border:none;
  cursor:default;
  width:100%;
  z-index:111;
}
.xd-input.block,.xd-select.block{
  display:block;
  width:100%;
}
.xd-ie8 .xd-radio,.xd-ie8 .xd-checkbox{
  display:inline;
  position:relative;
  top:2px;
}
.xd-icon-status{
  display:inline-block;
  width:32px;
  height:32px;
  background:url(http://s21.mogucdn.com/pic/150401/zixin_iezdandggfstoyzugazdambqmmyde_112x32.png) no-repeat;
  vertical-align:middle;
}
.xd-icon-status.warning{
  background-position:0 0;
}
.xd-icon-status.success{
  background-position:-40px 0;
}
.xd-icon-status.waiting{
  background-position:-80px 0;
}
.pace{
  -webkit-pointer-events:none;
  pointer-events:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
}
.pace-inactive{
  display:none;
}
.pace .pace-progress{
  background:#df494d;
  position:fixed;
  z-index:2000;
  top:0;
  right:100%;
  width:100%;
  height:2px;
}
.pace .pace-progress-inner{
  display:block;
  position:absolute;
  right:0;
  width:100px;
  height:100%;
  box-shadow:0 0 10px #df494d,0 0 5px #df494d;
  opacity:1;
  -webkit-transform:rotate(3deg) translate(0px,-4px);
  -moz-transform:rotate(3deg) translate(0px,-4px);
  -ms-transform:rotate(3deg) translate(0px,-4px);
  -o-transform:rotate(3deg) translate(0px,-4px);
  transform:rotate(3deg) translate(0px,-4px);
}
.pace .pace-activity{
  display:block;
  position:fixed;
  z-index:2000;
  top:15px;
  right:15px;
  width:14px;
  height:14px;
  border:solid 2px transparent;
  border-top-color:#df494d;
  border-left-color:#df494d;
  border-radius:10px;
  -webkit-animation:pace-spinner 400ms linear infinite;
  -moz-animation:pace-spinner 400ms linear infinite;
  -ms-animation:pace-spinner 400ms linear infinite;
  -o-animation:pace-spinner 400ms linear infinite;
  animation:pace-spinner 400ms linear infinite
}
@-webkit-keyframes pace-spinner{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@-moz-keyframes pace-spinner{0%{-moz-transform:rotate(0deg);transform:rotate(0deg)}100%{-moz-transform:rotate(360deg);transform:rotate(360deg)}}@-o-keyframes pace-spinner{0%{-o-transform:rotate(0deg);transform:rotate(0deg)}100%{-o-transform:rotate(360deg);transform:rotate(360deg)}}@-ms-keyframes pace-spinner{0%{-ms-transform:rotate(0deg);transform:rotate(0deg)}100%{-ms-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes pace-spinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}