/*清空外边距*/
*{
	margin: 0px;
	padding: 0px;
}

/*整体的div*/
.dl{
	width: 900px;
	margin: 0px auto;
	font-size: 12px;
}

/*logo显示*/
.dl_logo{
	width: 900px;
	height: 57px;
	margin-top: 25px;
}

/*展示主体*/
.dl_main{
	width: 838px;
	/*height: 480px;*/
	padding: 20px 30px;
	margin: 30px auto;
	border: 1px solid #dcdcdc;
}

/*进度条*/
.step_box li span{
	width:60px;
	color:#ff5683;
	display:block;
	padding-top:35px;
	text-align:center;
	background-position:22px 0;
	background:url("../images/ew_150x110.png") no-repeat;
}

.step_box{
	background:url("../images/sew_15x4.png") left 13px repeat-x;
	width:798px;
	overflow:hidden;
	margin:20px 0 60px;
}

.step_box ul{
	margin-right:-300px;
}

.step_box li{
	background-color:#fff;
	float:left;
	display:inline;
	margin-right:300px;
}

.step_box li.no2 span{
	color:#999;
	background-position:-38px 0;
}

.step_box li.no3 span{
	color:#999;
	background-position:-98px 0;
}

/*输入框*/
.formbox ul{
	color: #999;
	width: 638px;
	height: 164px;
	margin-left: 150px;
	list-style: none;
}

.delu_box{
	margin-bottom: 20px;
}

.label_title{
	/*width: 100px;*/
	/*border: 1px solid red;*/
  	/*text-align: right;*/
  	float: left;
  	/*display: inline;*/
  	font-size: 14px;
  	color: #666;
  	line-height: 36px;
}

/*单击下一步*/
.btn_check {
  display: inline-block;
  width: 150px;
  line-height: 36px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  margin-left: 100px;
  background: #ff4066;
}

.btn_check:hover{
	color: white;
	text-decoration: none;
}

.verify_foot {
  border-top: 1px dashed #dcdcdc;
  width: 720px;
  margin: 0 auto;
  padding: 22px 0 0 30px;
  margin-top: 70px;
}

/*尾部*/
.footer{
	margin-left: 170px;
}