/*主体内容*/
.zc_main{
	width: 898px;
	overflow: hidden;
	padding: 30px 30px 100px 30px;
	margin: 150px 150px;
}
/*大图片logo*/
.zc_img{
	float: left;
	margin-top: 20px;
	margin-left: 40px;
}

/*表单框提交*/
.zc_fk{
	float: right;
	width: 358px;
	height: 330px;
	border: 1px solid #dcdcdc;
}

/*表单题目*/
.zc_fk_lab{
	width: 338px;
	height: 42px;
	line-height: 42px;
	padding: 8px 0px 8px 20px;
	border-bottom: 1px solid #dcdcdc;
}

/*h3标签*/
/*表单题目*/
.zc_fk_lab h3{
	margin-top: 8px;
	font-size: 14px;
}

/*表单提交*/
.zc_form{
	height: 259px;
}


/*表单整体*/
.zc_form_inp{
	margin: 21px 35px 15px;
}


.zc_form_inp p{
	margin: 15px 0 0;
}

/*selsct表单*/
.zc_form_sel{
	width: 104px;
	height: 30px;
	float: left;
	color: #333;
	font-size: 14px;
	margin-right: 10px;
	border: 1px solid #c4c4c4;
	padding: 4px 35px 4px 10px;
	-moz-appearance: none;
    background: rgba(0, 0, 0, 0) url("../images/zc_sel.png") no-repeat scroll right center;

}

/*input表单*/
.zc_form_inp input{
	width: 278px;
	color: #999;
	height: 28px;
	font-size: 11px;
	padding-left: 3px;
	outline: medium none;
	border: 1px solid #cfcfcf;

}

/*验证码*/
.zc_form_inp img{
	margin: 0 0 0 9px;
}

/*submit提交按钮*/
.zc_form_sub input{
	width: 283px;
	height: 40px;
	color: #fff;
	margin-left: 35px;
	cursor: pointer;
	border-radius: 2px;
	outline: medium none;
	border: medium none;
	background: #ff4066 none repeat scroll 0 0;
}


/*服务协议*/
.zc_ty{
	margin-top: 15px;
	margin-left: 35px;
}


.zc_ty a{
	color: #000;
	text-decoration: underline;
}

/*链接登录页面*/
.zc_zh a{
	color: #666;
	float: right;
	margin-top: 15px;
	margin-right: 35px;
	text-decoration: underline;
}