<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap.min.css">
    <title></title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <img src="__PUBLIC__/Home/images/wardskin_2.jpg" alt="">
            </div>
            <div class="col-xs-9">
                <div class="popover right" style="display: block;">
                    <div class="arrow"></div>
                    <h3 class="popover-title">Popover right</h3>
                    <div class="popover-content">
                        <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                    </div>
                </div>
            </div>


        </div>
    </div>

<script src="__PUBLIC__/Home/js/jquery-1.11.3.min.js"></script>
<script src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
</body>
</html>